---
layout: default
---


<!--nav class="navbar navbar-light navbar-fixed-top">
    <div class="container-fluid">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="./" style="float: right; padding: 0; margin-top: 20px; background: rgba(255,255,255,0.8); line-height: 1;">
            <svg fill="#34495e" height="45" viewBox="-5 -5 35 35" width="45" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                <path d="M0 0h24v24H0z" fill="none" />
            </svg></a>

            <!--
                {% if page.path contains '_posts/' %}
                <a class="nav-item nav-link" href="https://github.com/lthr/lthr.github.io/blob/master/{{ page.path }}" style="float: right;">View on Github</a>
                {% endif %}
                --><!--
        </div>
    </div>
</nav-->


<div class="container">

    <post-header>
        {% include avatar.html %}
    </post-header>

    <h1>{{ page.title }}</h1>
    {% include author.html %}
    <div class="content">
        {{ content }}
    </div>
</div>


<!--
{% if site.related_posts != empty %}
<aside class="related">
    <h3>Related posts</h3>
    <ul class="related-posts">
        {% for post in site.related_posts limit:3 %}
        <li>
            <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
                <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
            </a>
        </li>
        {% endfor %}
    </ul>
</aside>
{% endif %}

<a href="https://github.com/lthr/lthr.github.io/blob/master/{{ page.path }}" style="float: left;">Contribute to this
    post</a> {% include post-tags.html %}
    -->
